<div class="container-fluid">
 
    <div class="card">
      <div class="clearfix" style="padding:10px;">
        <h5 class="pull-left">Expenditure Contract</h5>
         <div class="pull-right"> <button class="btn btn-primary" (click)="getExpenditureContractList()">
           {{btn_Text}} </button></div>
      </div>
    
      <div class="card-body" >
        <h3 class="alert-primary">{{message}}</h3>
          <form [formGroup]="expenditureContractForm"  (ngSubmit)="createExpenditureContract()"
          *ngIf="!displayListData"
          >
            <div class="row">
              <div class="col-md-3">
                  <h5>Basic Details</h5>
                  <div class="dropdown-divider"></div>
                <div class="form-group">
                 <label>Contract Type</label>
                 <select formControlName="expenditureContractSelect" class="form-control"  
                 [ngClass]="{ 'is-invalid': expenditureContractForm.get('expenditureContractSelect').errors &&
                 (expenditureContractForm.get('expenditureContractSelect').touched || 
                  expenditureContractForm.get('expenditureContractSelect').dirty )
                 }">
                  <option value="-1" >Select contract Type</option>
                  <option *ngFor="let expenditureContractSelect of expenditureContractTypes" [ngValue]="expenditureContractSelect">
                  {{ expenditureContractSelect.Name }}
                  </option>
                </select>
                   <span  class="is-invalid text-danger" 
                   *ngIf="expenditureContractForm.get('expenditureContractSelect').errors && 
                   (expenditureContractForm.get('expenditureContractSelect').touched || expenditureContractForm.get('expenditureContractSelect').dirty )">
                   <small *ngIf="expenditureContractForm.get('expenditureContractSelect').errors.required">Please Contract Type Option </small>
                   </span>
                </div>
                <div class="form-group">
                  <label>Station Name</label>
                  <select formControlName="StationList" class="form-control"
                  [ngClass]="{ 'is-invalid': expenditureContractForm.get('StationList').errors &&
                 (expenditureContractForm.get('StationList').touched || 
                  expenditureContractForm.get('StationList').dirty )
                 }">
                      <option value="-1" >Select Station</option>
                    <option *ngFor="let StationList of stationMasterData" [ngValue]="StationList">{{StationList.StationName}}</option>
                  </select>
                  <span  class="is-invalid text-danger" 
                  *ngIf="expenditureContractForm.get('StationList').errors && 
                  (expenditureContractForm.get('StationList').touched || expenditureContractForm.get('StationList').dirty )">
                  <small *ngIf="expenditureContractForm.get('StationList').errors.required">Please select Station List </small>
                  </span>
                </div>
                <div class="form-group">
                      <label for="">Name of the Licesee</label>
                      <input type="text" name="" id="shopName" class="form-control" placeholder="Enter Shop Name" aria-describedby="helpId"
                      formControlName="NameOfLicesee"[ngClass]="{
                        'is-invalid':
                        expenditureContractForm.get('NameOfLicesee').errors &&
                        (expenditureContractForm.get('NameOfLicesee').touched || expenditureContractForm.get('NameOfLicesee').dirty )
                      }">  
                       <span  class="is-invalid text-danger" 
                      *ngIf="expenditureContractForm.get('NameOfLicesee').errors && (expenditureContractForm.get('NameOfLicesee').touched
                       || expenditureContractForm.get('NameOfLicesee').dirty )">
                      <small *ngIf="expenditureContractForm.get('NameOfLicesee').errors.required">Please enter Licesee name</small>
                      <small *ngIf="expenditureContractForm.get('NameOfLicesee').errors.minlength" >Please Minimun 3 Charecters</small>
                      </span>
                </div>
                  <div class="form-group">
                  <label for="">Onwer Name</label>
                      <input type="text" name="" id="ownerName" class="form-control" placeholder="Enter Owner Name" aria-describedby="helpId"
                      formControlName="ownerName"
                      [ngClass]="{ 'is-invalid': expenditureContractForm.get('ownerName').errors &&
                             (expenditureContractForm.get('ownerName').touched || expenditureContractForm.get('ownerName').dirty )
                             }"
                             >
                             <span  class="is-invalid text-danger" 
                              *ngIf="expenditureContractForm.get('ownerName').errors &&
                             (expenditureContractForm.get('ownerName').touched || expenditureContractForm.get('ownerName').dirty )">
                               <small  *ngIf="expenditureContractForm.get('ownerName').errors.required">Please enter Owner Name</small>
                               <small  *ngIf="expenditureContractForm.get('ownerName').errors.minlength">Please min of 3 Charecters</small>
                             </span>
                  </div>
                  <div class="form-group">
                <label for="">Phone No</label>
                        <input type="tel" name="" id="phoneNumber" class="form-control" placeholder="Enter Phone No" aria-describedby="helpId"
                        formControlName="phoneNumber"
                        [ngClass]="{ 'is-invalid': expenditureContractForm.get('phoneNumber').errors &&
                               (expenditureContractForm.get('phoneNumber').touched || expenditureContractForm.get('phoneNumber').dirty )
                               }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="expenditureContractForm.get('phoneNumber').errors &&
                               (expenditureContractForm.get('phoneNumber').touched || expenditureContractForm.get('phoneNumber').dirty )">
                                 <small  *ngIf="expenditureContractForm.get('phoneNumber').errors.required">Please enter Phone No</small>
                                 <small  *ngIf="expenditureContractForm.get('phoneNumber').errors.minlength">Please min of 3 Charecters</small>
                          </span>
                  </div>
                  <div class="form-group">
                  <label for="">Email </label>
                          <input type="email" name="" id="emailId" class="form-control" placeholder="Enter Email Id" aria-describedby="helpId"
                          formControlName="emailId"
                          [ngClass]="{ 'is-invalid': expenditureContractForm.get('emailId').errors &&
                                 (expenditureContractForm.get('emailId').touched || expenditureContractForm.get('emailId').dirty )
                                 }">
                            <span  class="is-invalid text-danger" 
                                  *ngIf="expenditureContractForm.get('emailId').errors &&
                                 (expenditureContractForm.get('emailId').touched || expenditureContractForm.get('emailId').dirty )">
                                   <small  *ngIf="expenditureContractForm.get('emailId').errors.required">Please enter Email ID</small>
                                   <small  *ngIf="expenditureContractForm.get('emailId').errors.minlength">Please min of 3 Charecters</small>
                            </span>
                  </div>
                </div>        
                <div class="col-md-3">
                    <h5>Contract Details</h5>
                    <div class="dropdown-divider"></div>
                    <div class="form-group">
                        <label for="">Contract Period Type (No of years)</label>
                        <input type="number" name="" id="NoofYearsContract" class="form-control" placeholder="Enter No of Years" aria-describedby="helpId"
                        min ="0"
                        formControlName="NoofYearsContract"
                        [ngClass]="{ 'is-invalid': expenditureContractForm.get('NoofYearsContract').errors &&
                               (expenditureContractForm.get('NoofYearsContract').touched || expenditureContractForm.get('NoofYearsContract').dirty )
                               }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="expenditureContractForm.get('NoofYearsContract').errors &&
                               (expenditureContractForm.get('NoofYearsContract').touched || expenditureContractForm.get('NoofYearsContract').dirty )">
                                 <small  *ngIf="expenditureContractForm.get('NoofYearsContract').errors.required">Please enter No of Years</small>
                                 <small  *ngIf="expenditureContractForm.get('NoofYearsContract').errors.minlength">Please min of 3 Charecters</small>
                          </span>
                    </div>
                    
                    <div class="form-group">
                        <label for="">Contract Start Date</label>
                      <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp1" [(ngModel)]="contractStartDate"
                                ngbDatepicker #dp1="ngbDatepicker"formControlName="conStartdate"
                                [ngClass]="{ 'is-invalid': expenditureContractForm.get('conStartdate').errors &&
                                (expenditureContractForm.get('conStartdate').touched || expenditureContractForm.get('conStartdate').dirty )
                                }"
                                >
                        <div class="input-group-append">
                          <a (click)="dp1.toggle()" ><i class="fa fa-2x fa-calendar text-primary"></i></a>
                        </div>
                      </div>
                      <span  class="is-invalid text-danger" 
                      *ngIf="expenditureContractForm.get('conStartdate').errors && 
                      (expenditureContractForm.get('conStartdate').touched || expenditureContractForm.get('conStartdate').dirty )">
                      <small *ngIf="expenditureContractForm.get('conStartdate').errors.required">Please Contract Start Date </small>
                      </span>
                    </div>
                    <div class="form-group">
                      <label>Contract End Date</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp2" [(ngModel)]="contractEndDate" ngbDatepicker #dp2 ="ngbDatepicker" 
                               formControlName="conEnddate" 
                               [ngClass]="{ 'is-invalid': expenditureContractForm.get('conEnddate').errors &&
                               (expenditureContractForm.get('conEnddate').touched || expenditureContractForm.get('conEnddate').dirty )
                               }">
                        <div class="input-group-append">
                          <a class="" (click)="dp2.toggle()" ><i class="fa fa-2x fa-calendar text-primary"></i></a>
                        </div>
                      </div>
                      <span  class="is-invalid text-danger" 
                      *ngIf="expenditureContractForm.get('conEnddate').errors && 
                      (expenditureContractForm.get('conEnddate').touched || expenditureContractForm.get('conEnddate').dirty )">
                      <small *ngIf="expenditureContractForm.get('conEnddate').errors.required">Please Contract Start Date </small>
                      </span>
                    </div> 
                    <div class="form-group">
                        <label for="">Mode of Payment </label>
                        <select name="" id="modeofPaymentType" class="form-control"
                        formControlName="modeofPaymentType" placeholder="Select Mode of payment"
                        [ngClass]="{ 'is-invalid': expenditureContractForm.get('modeofPaymentType').errors &&
                        (expenditureContractForm.get('modeofPaymentType').touched || expenditureContractForm.get('modeofPaymentType').dirty )
                        }">
                            <option value="-1" selected >Select Mode of Payment </option>
                            <option value="1" >Monthly</option>
                            <option value="2" >Quarterly </option>
                            <option value="3" >Half yearly</option>
                            <option value="4" >Yearly</option>
                          </select>
                          <span  class="is-invalid text-danger" 
                          *ngIf="expenditureContractForm.get('modeofPaymentType').errors && 
                          (expenditureContractForm.get('modeofPaymentType').touched || expenditureContractForm.get('modeofPaymentType').dirty )">
                          <small *ngIf="expenditureContractForm.get('modeofPaymentType').errors.required">Please select Mode of payment </small>
                          </span>
                    </div>
                   <div class="form-group">
                    <label>Estimated Value </label>
                    <input type="number" name="" id="EstimatedValue" class="form-control" 
                    placeholder="Enter Estimated Value in Rs." aria-describedby="helpId"
                      formControlName="EstimatedValue" min ="0"
                      [ngClass]="{ 'is-invalid': expenditureContractForm.get('EstimatedValue').errors &&
                             (expenditureContractForm.get('EstimatedValue').touched || expenditureContractForm.get('EstimatedValue').dirty )
                             }">
                        <span  class="is-invalid text-danger" 
                              *ngIf="expenditureContractForm.get('EstimatedValue').errors &&
                             (expenditureContractForm.get('EstimatedValue').touched || expenditureContractForm.get('EstimatedValue').dirty )">
                               <small  *ngIf="expenditureContractForm.get('EstimatedValue').errors.required">Please Estimated Value</small>
                               <small  *ngIf="expenditureContractForm.get('EstimatedValue').errors.minlength">Please min of 3 Charecters</small>
                        </span>                  
                  </div>
                  <div class="form-group">
                      <label>Accepted Rate </label>
                      <input type="number" name="" id="AcceptedRate" class="form-control" placeholder="Enter Accepted Rate  in Rs." aria-describedby="helpId"
                        formControlName="AcceptedRate" min ="0"
                        [ngClass]="{ 'is-invalid': expenditureContractForm.get('AcceptedRate').errors &&
                               (expenditureContractForm.get('AcceptedRate').touched || expenditureContractForm.get('AcceptedRate').dirty )
                               }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="expenditureContractForm.get('AcceptedRate').errors &&
                               (expenditureContractForm.get('AcceptedRate').touched || expenditureContractForm.get('AcceptedRate').dirty )">
                                 <small  *ngIf="expenditureContractForm.get('AcceptedRate').errors.required">Please enter Accepted Rate</small>
                                 <small  *ngIf="expenditureContractForm.get('AcceptedRate').errors.minlength">Please min of 3 Charecters</small>
                          </span>                  
                  </div> 
                </div>
                <div class="col-md-6">
                    <h5>Security Deposit Details		</h5>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                      <div class="form-group  col-md-4">
                        <label>Deposited Amount</label>
                        <input type="number" name="" id="securityDepositAmount" class="form-control" placeholder="Enter Deposit Amount" aria-describedby="helpId"
                        formControlName="securityDepositAmount" min ="0"
                        [ngClass]="{ 'is-invalid': expenditureContractForm.get('securityDepositAmount').errors &&
                              (expenditureContractForm.get('securityDepositAmount').touched || expenditureContractForm.get('securityDepositAmount').dirty )
                              }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="expenditureContractForm.get('securityDepositAmount').errors &&
                              (expenditureContractForm.get('securityDepositAmount').touched || expenditureContractForm.get('securityDepositAmount').dirty )">
                                <small  *ngIf="expenditureContractForm.get('securityDepositAmount').errors.required">Please enter Security Deposit Amount</small>
                                <small  *ngIf="expenditureContractForm.get('securityDepositAmount').errors.minlength">Please min of 3 Charecters</small>
                          </span>
                      </div>
                      <div class="form-group  col-md-4">
                      <label>Bank Trasnaction ID</label>
                      <input type="text" name="" id="securityDepositTxnID" class="form-control" placeholder="Enter security Deposit TxnID " aria-describedby="helpId"
                      formControlName="securityDepositTxnID"
                      [ngClass]="{ 'is-invalid': expenditureContractForm.get('securityDepositTxnID').errors &&
                             (expenditureContractForm.get('securityDepositTxnID').touched || expenditureContractForm.get('securityDepositTxnID').dirty )
                             }">
                        <span  class="is-invalid text-danger" 
                              *ngIf="expenditureContractForm.get('securityDepositTxnID').errors &&
                             (expenditureContractForm.get('securityDepositTxnID').touched || expenditureContractForm.get('securityDepositTxnID').dirty )">
                               <small  *ngIf="expenditureContractForm.get('securityDepositTxnID').errors.required">Please enter security Deposit TxnID</small>
                               <small  *ngIf="expenditureContractForm.get('securityDepositTxnID').errors.minlength">Please min of 3 Charecters</small>
                        </span>
                      </div>
                      <div class="form-group col-md-4">
                          <label for="">Deposited Date</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                 name="dp1" [(ngModel)]="securityTranscationDate" ngbDatepicker #dp3="ngbDatepicker"
                                 formControlName="securityTxnDate" 
                                 [ngClass]="{
                                  'is-invalid':
                                  expenditureContractForm.get('securityTxnDate').errors &&
                                  (expenditureContractForm.get('securityTxnDate').touched || expenditureContractForm.get('securityTxnDate').dirty )
                                }"> 
                          <div class="input-group-append">
                             <a (click)="dp3.toggle()" ><i class="fa fa-2x fa-calendar text-primary"></i></a>
                          </div>
                          
                        </div>
                        <span  class="is-invalid text-danger" 
                          *ngIf="expenditureContractForm.get('securityTxnDate').errors && 
                          (expenditureContractForm.get('securityTxnDate').touched || expenditureContractForm.get('securityTxnDate').dirty )">
                          <small *ngIf="expenditureContractForm.get('securityTxnDate').errors.required">Please security Txn Date </small>
                          </span>
                      </div>
                  </div>             
                   <h5>EMD Details</h5>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                      <div class="form-group  col-md-4">
                        <label>EMD Amount</label>
                        <input type="number" name="" id="emdDepositAmount" class="form-control" placeholder="Enter Deposit Amount" aria-describedby="helpId"
                        formControlName="emdDepositAmount" min ="0"
                        [ngClass]="{ 'is-invalid': expenditureContractForm.get('emdDepositAmount').errors &&
                              (expenditureContractForm.get('emdDepositAmount').touched || expenditureContractForm.get('emdDepositAmount').dirty )
                              }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="expenditureContractForm.get('emdDepositAmount').errors &&
                              (expenditureContractForm.get('emdDepositAmount').touched || expenditureContractForm.get('emdDepositAmount').dirty )">
                                <small  *ngIf="expenditureContractForm.get('emdDepositAmount').errors.required">Please enter EMD Amount</small>
                                <small  *ngIf="expenditureContractForm.get('emdDepositAmount').errors.minlength">Please min of 3 Charecters</small>
                          </span>
                      </div>
                      <div class="form-group  col-md-4">
                          <label>Remarks</label>
                          <input type="text" name="" id="emdRemarks" class="form-control" placeholder="Enter Remarks" aria-describedby="helpId"
                          formControlName="emdRemarks"
                          [ngClass]="{ 'is-invalid': expenditureContractForm.get('emdRemarks').errors &&
                                (expenditureContractForm.get('emdRemarks').touched || expenditureContractForm.get('emdRemarks').dirty )
                                }">
                            <span  class="is-invalid text-danger" 
                                  *ngIf="expenditureContractForm.get('emdRemarks').errors &&
                                (expenditureContractForm.get('emdRemarks').touched || expenditureContractForm.get('emdRemarks').dirty )">
                                  <small  *ngIf="expenditureContractForm.get('emdRemarks').errors.required">Please enter EMD Remarks</small>
                                  <small  *ngIf="expenditureContractForm.get('emdRemarks').errors.minlength">Please min of 3 Charecters</small>
                            </span>
                      </div>
                  </div>
                </div>
               </div>
               <button type="submit" id="btnSaveShop" class="btn btn-primary pull-right">Create </button>
               
          </form>
          <div class="row" *ngIf="displayListData">
              <table class="table table-responsive" style="font-size:12px;">
                  <thead class="bg-primary text-white">
                    <th>Id</th>
                    <th>Station Name</th><th>Name of Licenscee</th><th>Owner Name</th><th>Phone Number</th><th>EmailId</th><th>Contract Type</th>
                    <th>No of Years Contract</th><th>Contract Startdate</th><th>Contract Enddate</th><th>EstimatedValue</th><th>AcceptedRate</th>
                    <th>Mode of Payment</th><th>Security Deposit Amount</th><th>Security Deposit TxnID</th><th>Security Txn. Date</th>
                    <th>EMD Deposit Amount</th><th>EMD Remarks</th> 
                  </thead>                
                    <tbody>    
                    <tr *ngFor="let expenditures of expenditureContractList; let i=index;">  
                      <td>{{i+1}}</td>
                      <td> {{ expenditures.StationList.StationName}}</td>
                      <td> {{ expenditures.NameOfLicesee }}</td>
                      <td> {{ expenditures.ownerName }}</td>
                      <td> {{ expenditures.phoneNumber}}</td>
                      <td> {{ expenditures.emailId}}</td>
                      <td> {{ expenditures.expenditureContractSelect.Name}}</td>
                      <td> {{ expenditures.NoofYearsContract}}</td>
                      <td> {{ expenditures.conStartdate | date:'dd/MM/yyyy'}}</td>
                      <td> {{ expenditures.conEnddate | date:'dd/MM/yyyy'}}</td>
                      <td> {{ expenditures.EstimatedValue}}</td>
                      <td> {{ expenditures.AcceptedRate}}</td>
                      <td> {{ expenditures.modeofPaymentType}}</td>
                      <td> {{ expenditures.securityDepositAmount}}</td>
                      <td> {{ expenditures.securityDepositTxnID}}</td>
                      <td> {{ expenditures.securityTxnDate | date:'dd/MM/yyyy'}}</td>
                      <td> {{ expenditures.emdDepositAmount}}</td><td> {{ expenditures.emdRemarks}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>

      </div>
    </div>
  </div>