
<div class="container-fluid">
  <div class="row">
   <div class="col-md-2">
     <h3 class="font-weight-bold">Contracts</h3>
     <hr/>
     <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list"
         data-toggle="list" href="#list-home" role="tab" aria-controls="home">Earnings</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" 
        data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Expenditure</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" 
        data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Service</a>
   
      </div>
     <!-- <div class="list-group">
        <a class="list-group-item list-group-item-action" 
         > Earnings</a>
        <a class="list-group-item list-group-item-action"
        (click)="DisplayComponent(2);"   > Expenditure</a>
        <a class="list-group-item list-group-item-action"
        (click)="DisplayComponent(3);"  > Service</a>
      </div> -->
     
  </div>
  <div class="col-md-10">
      
      <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
              <app-earnings-contracts ></app-earnings-contracts>
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <app-expenditure-contract ></app-expenditure-contract>
          </div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <app-services-contract  ></app-services-contract></div>
          
        </div>
    <!-- 
    
     -->
  </div>
</div>