<div class="container-fluid bg-primary"  style="height:100vh">
<div class="display-3 text-center text-white">Contract Management Services</div>
<br/>
<br/> 
  <form [formGroup] ="loginForm" (ngSubmit)="onSubmit();" class="form-sign bg-white p-5" >
    <h2>Sign In</h2>
    <div class="error text-danger">
      {{errorMessage}}
    </div>
      <div class="form-group">
        <label for="">User Name</label>
        <input type="text" name="" id="userName" class="form-control"
        autocomplete="off"
        placeholder="Enter User Name"
         aria-describedby="helpId"
        formControlName="userName"
        [ngClass]="{
          'is-invalid':
          loginForm.get('userName').errors &&
          (loginForm.get('userName').touched || loginForm.get('userName').dirty )
        }"
        >  
         <span  class="is-invalid text-danger" 
        *ngIf="loginForm.get('userName').errors && (loginForm.get('userName').touched || loginForm.get('userName').dirty )">
        <small *ngIf="loginForm.get('userName').errors.required">Please enter User name</small>
        <small *ngIf="loginForm.get('userName').errors.minlength" >Please Minimun 3 Charecters</small>
        </span>
      </div>
      <div class="form-group">
        <label for="">Passwore</label>
        <input type="password" name="" id="password" class="form-control" placeholder="Enter Password" aria-describedby="helpId"
        formControlName="password"
        autocomplete="off"
        [ngClass]="{ 'is-invalid': loginForm.get('password').errors &&
               (loginForm.get('password').touched || loginForm.get('password').dirty )
               }"
               >
        
               <span  class="is-invalid text-danger" 
                *ngIf="loginForm.get('password').errors &&
               (loginForm.get('password').touched || loginForm.get('password').dirty )">
                 <small  *ngIf="loginForm.get('password').errors.required">Please enter Password</small>
                 <small  *ngIf="loginForm.get('password').errors.minlength">Please min of 3 Charecters</small>
               </span>
      </div>
      <button type="submit" id="btnlogin" class="btn btn-primary">Login</button>
  </form>
  <div class="footer text-center  text-white">Powered by Thingtronics </div>
<Br/>    
<Br/>
<Br/>
<Br/>
<Br/>

</div>