.form-sign{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}   