<nav class="navbar navbar-expand-lg  bg-primary text-white" *ngIf="isLoggedIn$ | async">
  <a class="navbar-brand text-white" routerLink="/Home">Contract  Management</a>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/Dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/Home">Contracts <span class="sr-only"></span></a>
        </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white"   id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contracts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/EarningsContract">Earings Contract</a>
          <a class="dropdown-item" routerLink="/ExpenditureContract">Expenditure Contracts</a>
          <a class="dropdown-item" routerLink="/ServicesContract">Services Contracts</a>
          <a class="dropdown-item" routerLink="/ExcelUpload">Upload Excel</a>
          </div>
      </li> -->
    </ul>
 
     
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white"   id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu " style=" left: auto;
            right: 0;" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-primary" >
                  <i class="fa fa fa-sign-out" aria-hidden="true"
                   (click)="logout()">&nbsp; Logout

                  </i>
                </a>  
              
              </div>
          </li>
     </ul>
    
  </div>
</nav>
