<div class="container-fluid" >
 
  <div class="card">
     <div class="clearfix"  style="padding:10px;">
       <h5 class="pull-left">Earnings Contract</h5>
       <div class="pull-right">
         <button class="btn btn-primary" (click)="getEarningContractList()">
         {{btn_Text}}</button>
         
      </div>
     </div>
 
     <div class="card-body" >
      <h5 class="alert-primary">{{message}}</h5>
        <form [formGroup]="earningsContractForm" (ngSubmit)="createEarningsContract()"
          *ngIf="!displayListData">
          <div class="row">
            <div class="col-md-3">
                <h5>Basic Details</h5>
                <div class="dropdown-divider"></div>
                <div class="form-group">
               <label>Contract Type</label>
               <select formControlName="earningContractSelect" class="form-control"  
               [ngClass]="{ 'is-invalid': earningsContractForm.get('earningContractSelect').errors &&
               (earningsContractForm.get('earningContractSelect').touched || earningsContractForm.get('earningContractSelect').dirty )
               }">
                  <option *ngFor="let earningContractSelect of earningContractTypes" [ngValue]="earningContractSelect">
                    {{ earningContractSelect.Name }}
                  </option>
                 </select>
                 <span  class="is-invalid text-danger" 
                 *ngIf="earningsContractForm.get('earningContractSelect').errors && 
                 (earningsContractForm.get('earningContractSelect').touched || earningsContractForm.get('earningContractSelect').dirty )">
                 <small *ngIf="earningsContractForm.get('earningContractSelect').errors.required">Please Contract Type Option </small>
                 </span>
              </div>
              <div class="form-group">
                <label>Station Name</label>
                <select formControlName="StationList" class="form-control" 
                [ngClass]="{ 'is-invalid': earningsContractForm.get('StationList').errors &&
                (earningsContractForm.get('StationList').touched || earningsContractForm.get('StationList').dirty )
                }">
                <option *ngFor="let StationList of stationMasterData" [ngValue]="StationList">{{StationList.StationName}}</option>
                </select>
                <span  class="is-invalid text-danger" 
                  *ngIf="earningsContractForm.get('StationList').errors && 
                  (earningsContractForm.get('StationList').touched || earningsContractForm.get('StationList').dirty )">
                  <small *ngIf="earningsContractForm.get('StationList').errors.required">Please select Station List </small>
                  </span>
              </div>
              <div class="form-group">
                    <label for="">Name of the Licesee</label>
                    <input type="text" name="" id="shopName" class="form-control"
                     placeholder="Enter Shop Name" aria-describedby="helpId"
                    formControlName="NameOfLicesee"[ngClass]="{
                      'is-invalid':
                      earningsContractForm.get('NameOfLicesee').errors &&
                      (earningsContractForm.get('NameOfLicesee').touched || earningsContractForm.get('NameOfLicesee').dirty )
                    }">  
                     <span  class="is-invalid text-danger" 
                    *ngIf="earningsContractForm.get('NameOfLicesee').errors && (earningsContractForm.get('NameOfLicesee').touched || 
                    earningsContractForm.get('NameOfLicesee').dirty )">
                    <small *ngIf="earningsContractForm.get('NameOfLicesee').errors.required">Please enter Licesee name</small>
                    <small *ngIf="earningsContractForm.get('NameOfLicesee').errors.minlength" >Please Minimun 3 Charecters</small>
                    </span>
              </div>
                <div class="form-group">
                <label for="">Onwer Name</label>
                    <input type="text" name="" id="ownerName" class="form-control" placeholder="Enter Owner Name" aria-describedby="helpId"
                    formControlName="ownerName"
                    [ngClass]="{ 'is-invalid': earningsContractForm.get('ownerName').errors &&
                           (earningsContractForm.get('ownerName').touched || earningsContractForm.get('ownerName').dirty )
                           }"
                           >
                           <span  class="is-invalid text-danger" 
                            *ngIf="earningsContractForm.get('ownerName').errors &&
                           (earningsContractForm.get('ownerName').touched || earningsContractForm.get('ownerName').dirty )">
                             <small  *ngIf="earningsContractForm.get('ownerName').errors.required">Please enter Owner Name</small>
                             <small  *ngIf="earningsContractForm.get('ownerName').errors.minlength">Please min of 3 Charecters</small>
                           </span>
                </div>
                <div class="form-group">
              <label for="">Phone No</label>
                      <input type="tel" name="" id="phoneNumber" class="form-control" placeholder="Enter Phone No" aria-describedby="helpId"
                      formControlName="phoneNumber"
                      [ngClass]="{ 'is-invalid': earningsContractForm.get('phoneNumber').errors &&
                             (earningsContractForm.get('phoneNumber').touched || earningsContractForm.get('phoneNumber').dirty )
                             }">
                        <span  class="is-invalid text-danger" 
                              *ngIf="earningsContractForm.get('phoneNumber').errors &&
                             (earningsContractForm.get('phoneNumber').touched || earningsContractForm.get('phoneNumber').dirty )">
                               <small  *ngIf="earningsContractForm.get('phoneNumber').errors.required">Please enter Phone No</small>
                               <small  *ngIf="earningsContractForm.get('phoneNumber').errors.minlength">Please min of 3 Charecters</small>
                        </span>
                </div>
                <div class="form-group">
                <label for="">Email </label>
                        <input type="email" name="" id="emailId" class="form-control" placeholder="Enter Email Id" aria-describedby="helpId"
                        formControlName="emailId"
                        [ngClass]="{ 'is-invalid': earningsContractForm.get('emailId').errors &&
                               (earningsContractForm.get('emailId').touched || earningsContractForm.get('emailId').dirty )
                               }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="earningsContractForm.get('emailId').errors &&
                               (earningsContractForm.get('emailId').touched || earningsContractForm.get('emailId').dirty )">
                                 <small  *ngIf="earningsContractForm.get('emailId').errors.required">Please enter Email ID</small>
                                 <small  *ngIf="earningsContractForm.get('emailId').errors.minlength">Please min of 3 Charecters</small>
                          </span>
                </div>
              </div>        
              <div class="col-md-3">
                  <h5>Contract Details</h5>
                  <div class="dropdown-divider"></div>
                  <div class="form-group">
                      <label for="">Contract Period Type (No of years)</label>
                      <input type="number" name="" id="NoofYearsContract" class="form-control" placeholder="Enter No of Years" aria-describedby="helpId"
                      min ="0"
                      formControlName="NoofYearsContract"
                      [ngClass]="{ 'is-invalid': earningsContractForm.get('NoofYearsContract').errors &&
                             (earningsContractForm.get('NoofYearsContract').touched || earningsContractForm.get('NoofYearsContract').dirty )
                             }">
                        <span  class="is-invalid text-danger" 
                              *ngIf="earningsContractForm.get('NoofYearsContract').errors &&
                             (earningsContractForm.get('NoofYearsContract').touched || earningsContractForm.get('NoofYearsContract').dirty )">
                               <small  *ngIf="earningsContractForm.get('NoofYearsContract').errors.required">Please enter No of Years</small>
                               <small  *ngIf="earningsContractForm.get('NoofYearsContract').errors.minlength">Please min of 3 Charecters</small>
                        </span>
                  </div>
                  <div class="form-group">
                      <label for="">Contract Start Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp1" [(ngModel)]="contractStartDate"
                              ngbDatepicker #dp1="ngbDatepicker"formControlName="conStartdate"
                              [ngClass]="{ 'is-invalid': earningsContractForm.get('conStartdate').errors &&
                              (earningsContractForm.get('conStartdate').touched || earningsContractForm.get('conStartdate').dirty )
                              }"
                              >
                      <div class="input-group-append">
                        <a (click)="dp1.toggle()" ><i class="fa fa-2x fa-calendar text-primary"></i></a>
                      </div>
                    </div>
                    <span  class="is-invalid text-danger" 
                    *ngIf="earningsContractForm.get('conStartdate').errors && 
                    (earningsContractForm.get('conStartdate').touched || earningsContractForm.get('conStartdate').dirty )">
                    <small *ngIf="earningsContractForm.get('conStartdate').errors.required">Please Contract Start Date </small>
                    </span>
                  </div>
                  <div class="form-group">
                    <label>Contract End Date</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp2" [(ngModel)]="contractEndDate" ngbDatepicker #dp2 ="ngbDatepicker" 
                             formControlName="conEnddate" 
                             [ngClass]="{ 'is-invalid': earningsContractForm.get('conEnddate').errors &&
                             (earningsContractForm.get('conEnddate').touched || earningsContractForm.get('conEnddate').dirty )
                             }">
                      <div class="input-group-append">
                        <a class="" (click)="dp2.toggle()" ><i class="fa fa-2x fa-calendar text-primary"></i></a>
                      </div>
                    </div>
                    <span  class="is-invalid text-danger" 
                    *ngIf="earningsContractForm.get('conEnddate').errors && 
                    (earningsContractForm.get('conEnddate').touched || earningsContractForm.get('conEnddate').dirty )">
                    <small *ngIf="earningsContractForm.get('conEnddate').errors.required">Please Contract Start Date </small>
                    </span>
                  </div>
                  <div class="form-group">
                      <label for="">Mode of Payment </label>
                      <select name="" id="modeofPaymentType" class="form-control"
                      formControlName="modeofPaymentType" placeholder="Select Mode of payment"
                      [ngClass]="{ 'is-invalid': earningsContractForm.get('modeofPaymentType').errors &&
                      (earningsContractForm.get('modeofPaymentType').touched || earningsContractForm.get('modeofPaymentType').dirty )
                      }">
                          <option value="Monthly" >Monthly</option>
                          <option value="Quarterly" >Quarterly </option>
                          <option value="Half yearly" >Half yearly</option>
                          <option value="Yearly" >Yearly</option>
                        </select>
                        <span  class="is-invalid text-danger" 
                        *ngIf="earningsContractForm.get('modeofPaymentType').errors && 
                        (earningsContractForm.get('modeofPaymentType').touched || earningsContractForm.get('modeofPaymentType').dirty )">
                        <small *ngIf="earningsContractForm.get('modeofPaymentType').errors.required">Please select Mode of payment </small>
                        </span>
                  </div>
                 <div class="form-group">
                  <label>Railway Reserve Price </label>
                  <input type="number" name="" id="contractfee" class="form-control" placeholder="Enter Railway Reserve Price" aria-describedby="helpId"
                    formControlName="contractfee" min ="0"
                    [ngClass]="{ 'is-invalid': earningsContractForm.get('contractfee').errors &&
                           (earningsContractForm.get('contractfee').touched || earningsContractForm.get('contractfee').dirty )
                           }">
                      <span  class="is-invalid text-danger" 
                            *ngIf="earningsContractForm.get('contractfee').errors &&
                           (earningsContractForm.get('contractfee').touched || earningsContractForm.get('contractfee').dirty )">
                             <small  *ngIf="earningsContractForm.get('contractfee').errors.required">Please Railway Reserve Price</small>
                             <small  *ngIf="earningsContractForm.get('contractfee').errors.minlength">Please min of 3 Charecters</small>
                      </span>                  
                </div>
                <div class="form-group">
                    <label>Licensce  Fee </label>
                    <input type="number" name="" id="licenscefree" class="form-control" placeholder="Enter Licensce Fee" aria-describedby="helpId"
                      formControlName="licenscefree" min ="0"
                      [ngClass]="{ 'is-invalid': earningsContractForm.get('licenscefree').errors &&
                             (earningsContractForm.get('licenscefree').touched || earningsContractForm.get('licenscefree').dirty )
                             }">
                        <span  class="is-invalid text-danger" 
                              *ngIf="earningsContractForm.get('licenscefree').errors &&
                             (earningsContractForm.get('licenscefree').touched || earningsContractForm.get('licenscefree').dirty )">
                               <small  *ngIf="earningsContractForm.get('licenscefree').errors.required">Please enter Licensce fee</small>
                               <small  *ngIf="earningsContractForm.get('licenscefree').errors.minlength">Please min of 3 Charecters</small>
                        </span>                  
                </div> 
              </div>
              <div class="col-md-6">
                  <h5>Security Deposit Details		</h5>
                  <div class="dropdown-divider"></div>
                  <div class="row">
                    <div class="form-group  col-md-4">
                      <label>Deposited Amount</label>
                      <input type="number" name="" id="securityDepositAmount" class="form-control" placeholder="Enter Deposit Amount" aria-describedby="helpId"
                      formControlName="securityDepositAmount" min ="0"
                      [ngClass]="{ 'is-invalid': earningsContractForm.get('securityDepositAmount').errors &&
                            (earningsContractForm.get('securityDepositAmount').touched || earningsContractForm.get('securityDepositAmount').dirty )
                            }">
                        <span  class="is-invalid text-danger" 
                              *ngIf="earningsContractForm.get('securityDepositAmount').errors &&
                            (earningsContractForm.get('securityDepositAmount').touched || earningsContractForm.get('securityDepositAmount').dirty )">
                              <small  *ngIf="earningsContractForm.get('securityDepositAmount').errors.required">Please enter Security Deposit Amount</small>
                              <small  *ngIf="earningsContractForm.get('securityDepositAmount').errors.minlength">Please min of 3 Charecters</small>
                        </span>
                    </div>
                    <div class="form-group  col-md-4">
                    <label>Bank Trasnaction ID</label>
                    <input type="text" name="" id="securityDepositTxnID" class="form-control" placeholder="Enter security Deposit TxnID " aria-describedby="helpId"
                    formControlName="securityDepositTxnID"
                    [ngClass]="{ 'is-invalid': earningsContractForm.get('securityDepositTxnID').errors &&
                           (earningsContractForm.get('securityDepositTxnID').touched || earningsContractForm.get('securityDepositTxnID').dirty )
                           }">
                      <span  class="is-invalid text-danger" 
                            *ngIf="earningsContractForm.get('securityDepositTxnID').errors &&
                           (earningsContractForm.get('securityDepositTxnID').touched || earningsContractForm.get('securityDepositTxnID').dirty )">
                             <small  *ngIf="earningsContractForm.get('securityDepositTxnID').errors.required">Please enter security Deposit TxnID</small>
                             <small  *ngIf="earningsContractForm.get('securityDepositTxnID').errors.minlength">Please min of 3 Charecters</small>
                      </span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Deposited Date</label>
                      <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp1" [(ngModel)]="securityTranscationDate" ngbDatepicker #dp3="ngbDatepicker"
                               formControlName="securityTxnDate" 
                               [ngClass]="{
                                'is-invalid':
                                earningsContractForm.get('securityTxnDate').errors &&
                                (earningsContractForm.get('securityTxnDate').touched || earningsContractForm.get('securityTxnDate').dirty )
                              }"> 
                        <div class="input-group-append">
                           <a (click)="dp3.toggle()" ><i class="fa fa-2x fa-calendar text-primary"></i></a>
                        </div>
                        
                      </div>
                      <span  class="is-invalid text-danger" 
                        *ngIf="earningsContractForm.get('securityTxnDate').errors && 
                        (earningsContractForm.get('securityTxnDate').touched || earningsContractForm.get('securityTxnDate').dirty )">
                        <small *ngIf="earningsContractForm.get('securityTxnDate').errors.required">Please security Txn Date </small>
                        </span>
                    </div>
                </div>             
                 <h5>EMD Details</h5>
                  <div class="dropdown-divider"></div>
                  <div class="row">
                    <div class="form-group  col-md-4">
                      <label>EMD Amount</label>
                      <input type="number" name="" id="emdDepositAmount" class="form-control" placeholder="Enter Deposit Amount" aria-describedby="helpId"
                      formControlName="emdDepositAmount" min ="0"
                      [ngClass]="{ 'is-invalid': earningsContractForm.get('emdDepositAmount').errors &&
                            (earningsContractForm.get('emdDepositAmount').touched || earningsContractForm.get('emdDepositAmount').dirty )
                            }">
                        <span  class="is-invalid text-danger" 
                              *ngIf="earningsContractForm.get('emdDepositAmount').errors &&
                            (earningsContractForm.get('emdDepositAmount').touched || earningsContractForm.get('emdDepositAmount').dirty )">
                              <small  *ngIf="earningsContractForm.get('emdDepositAmount').errors.required">Please enter EMD Amount</small>
                              <small  *ngIf="earningsContractForm.get('emdDepositAmount').errors.minlength">Please min of 3 Charecters</small>
                        </span>
                    </div>
                    <div class="form-group  col-md-4">
                        <label>Remarks</label>
                        <input type="text" name="" id="emdRemarks" class="form-control" placeholder="Enter Remarks" aria-describedby="helpId"
                        formControlName="emdRemarks"
                        [ngClass]="{ 'is-invalid': earningsContractForm.get('emdRemarks').errors &&
                              (earningsContractForm.get('emdRemarks').touched || earningsContractForm.get('emdRemarks').dirty )
                              }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="earningsContractForm.get('emdRemarks').errors &&
                              (earningsContractForm.get('emdRemarks').touched || earningsContractForm.get('emdRemarks').dirty )">
                                <small  *ngIf="earningsContractForm.get('emdRemarks').errors.required">Please enter EMD Remarks</small>
                                <small  *ngIf="earningsContractForm.get('emdRemarks').errors.minlength">Please min of 3 Charecters</small>
                          </span>
                    </div>
                </div>
              </div>
             </div>
             <button type="submit" id="btnSaveShop" class="btn btn-primary pull-right">Create </button>
        </form>
        <div class="row" *ngIf="displayListData">
            <table class="table table-responsive table-bordered" style="font-size:12px;">
                <thead class="bg-primary text-white">
                  <th>Id</th>
                  <th>Station Name</th><th>Name of Licenscee</th><th>Owner Name</th><th>Phone Number</th><th>EmailId</th><th>Contract Type</th>
                  <th>No of Years Contract</th><th>Contract Startdate</th><th>Contract Enddate</th><th>Contract fee</th><th>Licensce free</th>
                  <th>Mode of Payment</th><th>Security Deposit Amount</th><th>Security Deposit TxnID</th><th>Security Txn. Date</th>
                  <th>EMD Deposit Amount</th><th>EMD Remarks</th> 
                </thead>                
                  <tbody>    
                  <tr *ngFor="let earnings of earningContractList; let i=index;">  
                    <td>{{i+1}}</td>
                    <td> {{ earnings.StationList.StationName}}</td><td> {{ earnings.shopName}}</td><td> {{ earnings.ownerName}}</td>
                    <td> {{ earnings.phoneNumber}}</td><td> {{ earnings.emailId}}</td><td> {{ earnings.earningContractSelect.Name}}</td>
                    <td> {{ earnings.NoofYearsContract}}</td><td> {{ earnings.conStartdate | date:'dd/MM/yyyy'}}</td>
                    <td> {{ earnings.conEnddate | date:'dd/MM/yyyy'}}</td>
                    <td> {{ earnings.contractfee}}</td><td> {{ earnings.licenscefree}}</td>
                    <td> {{ earnings.modeofPaymentType}}</td><td> {{ earnings.securityDepositAmount}}</td><td> {{ earnings.securityDepositTxnID}}</td>
                    <td> {{ earnings.securityTxnDate | date:'dd/MM/yyyy'}}</td>
                    <td> {{ earnings.emdDepositAmount}}</td><td> {{ earnings.emdRemarks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
  </div>
</div>