<div class="container-fluid">
 
    <div class="card">
        <div class="clearfix"  style="padding:10px;" >
            <h5 class="pull-left">Service Contract</h5>
            <div class="pull-right"> <button class="btn btn-primary" (click)="getServiceContractList()">
               {{btn_Text}} </button></div>
            
          </div>
       
        <div class="card-body" >
        <h3 class="alert-primary">{{message}}</h3>
          <form [formGroup]="serviceContractForm"  (ngSubmit)="createServiceContract()"
          *ngIf="!displayListData"  >
            <div class="row">
              <div class="col-md-3">
                  <h5>Basic Details	</h5>
                  <div class="dropdown-divider"></div>
                  <div class="form-group">
                  <label>Contract Type</label>
                  <select formControlName="serviceContractSelect" class="form-control"  
                  [ngClass]="{ 'is-invalid': serviceContractForm.get('serviceContractSelect').errors &&
                  (serviceContractForm.get('serviceContractSelect').touched || 
                    serviceContractForm.get('serviceContractSelect').dirty )
                  }">
                      <option *ngFor="let serviceContractSelect of serviceContractTypes" [ngValue]="serviceContractSelect">
                        {{ serviceContractSelect.Name }}
                      </option>
                    </select>
                    <span  class="is-invalid text-danger" 
                    *ngIf="serviceContractForm.get('serviceContractSelect').errors && 
                    (serviceContractForm.get('serviceContractSelect').touched || serviceContractForm.get('serviceContractSelect').dirty )">
                    <small *ngIf="serviceContractForm.get('serviceContractSelect').errors.required">Please Contract Type Option </small>
                    </span>
                  </div>
                  <div class="form-group">
                    <label>Station Name</label>
                    <select formControlName="StationList" class="form-control"
                    [ngClass]="{ 'is-invalid': serviceContractForm.get('StationList').errors &&
                    (serviceContractForm.get('StationList').touched || 
                      serviceContractForm.get('StationList').dirty )
                    }">
                      <option *ngFor="let StationList of stationMasterData" [ngValue]="StationList">
                        {{StationList.StationName}}</option>
                    </select>
                    <span  class="is-invalid text-danger" 
                    *ngIf="serviceContractForm.get('StationList').errors && 
                    (serviceContractForm.get('StationList').touched || serviceContractForm.get('StationList').dirty )">
                    <small *ngIf="serviceContractForm.get('StationList').errors.required">Please Contract Type Option </small>
                    </span>
                
                  </div>
                  <div class="form-group">
                      <label for="">Name of the Agent</label>
                      <input type="text" name="" id="shopName" class="form-control" placeholder="Enter Agent Name" aria-describedby="helpId"
                      formControlName="NameOfLicesee"[ngClass]="{
                        'is-invalid':
                        serviceContractForm.get('NameOfLicesee').errors &&
                        (serviceContractForm.get('NameOfLicesee').touched || serviceContractForm.get('NameOfLicesee').dirty )
                      }">  
                       <span  class="is-invalid text-danger" 
                      *ngIf="serviceContractForm.get('NameOfLicesee').errors && (serviceContractForm.get('NameOfLicesee').touched 
                      || serviceContractForm.get('NameOfLicesee').dirty )">
                      <small *ngIf="serviceContractForm.get('NameOfLicesee').errors.required">Please enter Agent name</small>
                      <small *ngIf="serviceContractForm.get('NameOfLicesee').errors.minlength" >Please Minimun 3 Charecters</small>
                      </span>
                  </div>
                  <div class="form-group">
                  <label for="">Onwer Name</label>
                      <input type="text" name="" id="ownerName" class="form-control" placeholder="Enter Owner Name" aria-describedby="helpId"
                      formControlName="ownerName"
                      [ngClass]="{ 'is-invalid': serviceContractForm.get('ownerName').errors &&
                             (serviceContractForm.get('ownerName').touched || serviceContractForm.get('ownerName').dirty )
                             }"
                             >
                             <span  class="is-invalid text-danger" 
                              *ngIf="serviceContractForm.get('ownerName').errors &&
                             (serviceContractForm.get('ownerName').touched || serviceContractForm.get('ownerName').dirty )">
                               <small  *ngIf="serviceContractForm.get('ownerName').errors.required">Please enter Owner Name</small>
                               <small  *ngIf="serviceContractForm.get('ownerName').errors.minlength">Please min of 3 Charecters</small>
                             </span>
                  </div>
                  <div class="form-group">
                <label for="">Phone No</label>
                        <input type="tel" name="" id="phoneNumber" class="form-control" placeholder="Enter Phone No" aria-describedby="helpId"
                        formControlName="phoneNumber"
                        [ngClass]="{ 'is-invalid': serviceContractForm.get('phoneNumber').errors &&
                               (serviceContractForm.get('phoneNumber').touched || serviceContractForm.get('phoneNumber').dirty )
                               }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="serviceContractForm.get('phoneNumber').errors &&
                               (serviceContractForm.get('phoneNumber').touched || serviceContractForm.get('phoneNumber').dirty )">
                                 <small  *ngIf="serviceContractForm.get('phoneNumber').errors.required">Please enter Phone No</small>
                                 <small  *ngIf="serviceContractForm.get('phoneNumber').errors.minlength">Please min of 3 Charecters</small>
                          </span>
                  </div>
                  <div class="form-group">
                  <label for="">Email </label>
                          <input type="email" name="" id="emailId" class="form-control" placeholder="Enter Email Id" aria-describedby="helpId"
                          formControlName="emailId"
                          [ngClass]="{ 'is-invalid': serviceContractForm.get('emailId').errors &&
                                 (serviceContractForm.get('emailId').touched || serviceContractForm.get('emailId').dirty )
                                 }">
                            <span  class="is-invalid text-danger" 
                                  *ngIf="serviceContractForm.get('emailId').errors &&
                                 (serviceContractForm.get('emailId').touched || serviceContractForm.get('emailId').dirty )">
                                   <small  *ngIf="serviceContractForm.get('emailId').errors.required">Please enter Email ID</small>
                                   <small  *ngIf="serviceContractForm.get('emailId').errors.minlength">Please min of 3 Charecters</small>
                            </span>
                  </div>
                </div>        
                <div class="col-md-3">
                    <h5>Contract Details</h5>
                    <div class="dropdown-divider"></div>
                    <div class="form-group">
                        <label for="">Contract Period Type (No of years)</label>
                        <input type="number" name="" id="NoofYearsContract" class="form-control" placeholder="Enter No of Years" aria-describedby="helpId"
                        min ="0"
                        formControlName="NoofYearsContract"
                        [ngClass]="{ 'is-invalid': serviceContractForm.get('NoofYearsContract').errors &&
                               (serviceContractForm.get('NoofYearsContract').touched || serviceContractForm.get('NoofYearsContract').dirty )
                               }">
                          <span  class="is-invalid text-danger" 
                                *ngIf="serviceContractForm.get('NoofYearsContract').errors &&
                               (serviceContractForm.get('NoofYearsContract').touched || serviceContractForm.get('NoofYearsContract').dirty )">
                                 <small  *ngIf="serviceContractForm.get('NoofYearsContract').errors.required">Please enter No of Years</small>
                                 <small  *ngIf="serviceContractForm.get('NoofYearsContract').errors.minlength">Please min of 3 Charecters</small>
                          </span>
                    </div>
                    
                    <div class="form-group">
                        <label for="">Contract Start Date</label>
                      <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp1" [(ngModel)]="contractStartDate"
                                ngbDatepicker #dp1="ngbDatepicker"formControlName="conStartdate"
                                [ngClass]="{ 'is-invalid': serviceContractForm.get('conStartdate').errors &&
                                (serviceContractForm.get('conStartdate').touched || serviceContractForm.get('conStartdate').dirty )
                                }"
                                >
                        <div class="input-group-append">
                          <a (click)="dp1.toggle()" ><i class="fa fa-2x fa-calendar text-primary"></i></a>
                        </div>
                      </div>
                      <span  class="is-invalid text-danger" 
                      *ngIf="serviceContractForm.get('conStartdate').errors && 
                      (serviceContractForm.get('conStartdate').touched || serviceContractForm.get('conStartdate').dirty )">
                      <small *ngIf="serviceContractForm.get('conStartdate').errors.required">Please Contract Start Date </small>
                      </span>
                    </div>
                    <div class="form-group">
                      <label>Contract End Date</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp2" [(ngModel)]="contractEndDate" ngbDatepicker #dp2 ="ngbDatepicker" 
                               formControlName="conEnddate" 
                               [ngClass]="{ 'is-invalid': serviceContractForm.get('conEnddate').errors &&
                               (serviceContractForm.get('conEnddate').touched || serviceContractForm.get('conEnddate').dirty )
                               }">
                        <div class="input-group-append">
                          <a class="" (click)="dp2.toggle()" ><i class="fa fa-2x fa-calendar text-primary"></i></a>
                        </div>
                      </div>
                      <span  class="is-invalid text-danger" 
                      *ngIf="serviceContractForm.get('conEnddate').errors && 
                      (serviceContractForm.get('conEnddate').touched || serviceContractForm.get('conEnddate').dirty )">
                      <small *ngIf="serviceContractForm.get('conEnddate').errors.required">Please Contract Start Date </small>
                      </span>
                    </div> 
                    <div class="form-group">
                        <label for="">Mode of Payment </label>
                        <select name="" id="modeofPaymentType" class="form-control"
                        formControlName="modeofPaymentType" placeholder="Select Mode of payment"
                        [ngClass]="{ 'is-invalid': serviceContractForm.get('modeofPaymentType').errors &&
                        (serviceContractForm.get('modeofPaymentType').touched || serviceContractForm.get('modeofPaymentType').dirty )
                        }">
                            <option value="-1" selected >Select Mode of Payment </option>
                            <option value="1" >Monthly</option>
                            <option value="2" >Quarterly </option>
                            <option value="3" >Half yearly</option>
                            <option value="4" >Yearly</option>
                          </select>
                          <span  class="is-invalid text-danger" 
                          *ngIf="serviceContractForm.get('modeofPaymentType').errors && 
                          (serviceContractForm.get('modeofPaymentType').touched || serviceContractForm.get('modeofPaymentType').dirty )">
                          <small *ngIf="serviceContractForm.get('modeofPaymentType').errors.required">Please select Mode of payment </small>
                          </span>
                    </div>
                   <div class="form-group">
                    <label>% of Commission</label>
                    <input type="number" name="" id="PercentageCommission" class="form-control" placeholder="Enter Estimated Value in Rs." aria-describedby="helpId"
                      formControlName="PercentageCommission" min ="0"
                      [ngClass]="{ 'is-invalid': serviceContractForm.get('PercentageCommission').errors &&
                             (serviceContractForm.get('PercentageCommission').touched || serviceContractForm.get('PercentageCommission').dirty )
                             }">
                        <span  class="is-invalid text-danger" 
                              *ngIf="serviceContractForm.get('PercentageCommission').errors &&
                             (serviceContractForm.get('PercentageCommission').touched || serviceContractForm.get('PercentageCommission').dirty )">
                               <small  *ngIf="serviceContractForm.get('PercentageCommission').errors.required">Please Estimated Value</small>
                               <small  *ngIf="serviceContractForm.get('PercentageCommission').errors.minlength">Please min of 3 Charecters</small>
                        </span>                  
                  </div>
                </div>
               </div>
               <button type="submit" id="btnSaveShop" class="btn btn-primary pull-right">Create </button>
          </form>
          <div class="row" *ngIf="displayListData">
              <table class="table table-responsive" style="font-size:12px;">
                  <thead class="bg-primary text-white">
                    <th>Id</th>
                    <th>Station Name</th><th>Name of Licenscee</th><th>Owner Name</th><th>Phone Number</th><th>EmailId</th><th>Contract Type</th>
                    <th>No of Years Contract</th><th>Contract Startdate</th><th>Contract Enddate</th>
                    <th>PercentageCommission</th>
                    </thead>                
                    <tbody>    
                    <tr *ngFor="let service of serviceContractList; let i=index;">  
                      <td>{{i+1}}</td>
                      <td> {{ service.StationList.StationName}}</td>
                      <td> {{ service.NameOfLicesee }}</td>
                      <td> {{ service.ownerName }}</td>
                      <td> {{ service.phoneNumber}}</td>
                      <td> {{ service.emailId}}</td>
                      <td> {{ service.serviceContractSelect.Name}}</td>
                      <td> {{ service.NoofYearsContract}}</td>
                      <td> {{ service.conStartdate | date:'dd/MM/yyyy'}}</td>
                      <td> {{ service.conEnddate | date:'dd/MM/yyyy'}}</td>
                      <td> {{ service.PercentageCommission}}</td>
                   </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>