 <div class="container">
   <div class="block">
     <h3>Contracts Summary </h3>
   </div>
    
    <div class="row">
      <div class="col-md-3">
          <div class="card  text-center " >
              <div class="card-header bg-primary text-white">
                Earnings 
              </div>
              <div class="card-body">
                <h3 class="card-title">{{EarningsCount}}</h3>
              </div>
             
            </div>
      </div>
      <div class="col-md-3">
          <div class="card  text-center " >
              <div class="card-header bg-primary text-white">
                Expediture 
              </div>
              <div class="card-body">
                <h3 class="card-title">{{ExpenditureCount}}</h3>
              </div>
             
            </div>
      </div>
      <div class="col-md-3">
          <div class="card  text-center " >
              <div class="card-header bg-primary text-white">
                Service 
              </div>
              <div class="card-body">
                <h3 class="card-title">{{ServiceCount}}</h3>
              </div>
             
            </div>
      </div>
    </div>  
 </div>
 